.managelist{
  a{
    display:block;
    overflow:hidden;
    position:relative;
    &:before{
        content: "";
        display: inline-block;
        transform: rotate(-45deg);
        height: 6px;
        width: 6px;
        border-width: 0px 2px 2px 0px;
        border-color: #C8C8CD;
        border-style: solid;
        position: relative;
        position: absolute;
        top: 18px;
        right: 18px;
      }
  }
  .list_l{
    display:inline-block;
    float:left;
    padding:10px 15px;
  }
}